body{
    margin: 0;
    background-image: url("imagenes/fondo.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header{
    background-color: rgb(54, 54, 54);
    padding: 0;
    border: 2px solid #161616 ;
    position: sticky;
    top: 0;    
    z-index: 100;
    height: 110px;
} 

.titulo{
    color: white;
    margin-left: 13%;
    margin-right: 80%;
    margin-top: -80px;    
}

.subtitulo{
    color: antiquewhite;
    margin-left: 13%;
    margin-right: 40%;
    margin-top: -10px;
    font-size: medium;
    font-style: oblique;
}

.logo{
    width: 100px;
    height: 100px;
    margin-left: 8px;
    margin-top: 8px;   
}

.navegador{
    color: white;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 10px;  
}

.navegador .contenedor{
    display: flex;   
}

.navegador .contenedor .boton{
    list-style: none;   
}

.navegador .contenedor .boton a{
    
    font-weight: bolder;
    font-size: 100%;
    margin: 0 10px;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(54, 54, 54);
    color: antiquewhite;   
}

.navegador .contenedor .redes a img{
    width: 25px;
    height: 25px;
    margin: 0 16px;
    position: relative;
    top: -4px;   
}

.navegador .contenedor .redes{
    list-style: none;
}

.navegador .contenedor .boton a:hover{
    border: 1px solid rgb(193, 180, 180);
    opacity: 0.6;      
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 25px;
}

form .titulo2{
   color: rgb(54, 54, 54);
   font-size: 35px;
   font-weight: 800;
   margin-bottom: 30px; 
}

form .divv{
   margin-bottom: 35px;
}

form .divv input{
   outline: none;
   border: none;
   color: #252525;
   border-bottom: solid 1px pink;
   padding: 0 5px;
   font-size: 18px;
}

form .divv input::placeholder{
    color:#aeabab
}
form .link{
    color: rgb(82, 82, 82);
    margin-bottom: 15px;
}

form #button{
    width: 100px;
    color: antiquewhite;
    border: none;
    background-color: rgb(54, 54, 54);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    left: 600px;
    top: 30px;
}
footer{
    color: white;
    border: 2px solid #343434;
    background-color: rgb(54, 54, 54);
    padding: 8px;
    position: relative;
    display: flex;
    margin-top: 20px;

    
}

.contenedor-foot .cont{
    display: flex;
    margin-left: -40px;
}

.contenedor-foot .cont .foot{
    list-style: none;
}

.contenedor-foot .cont .foot a{
    padding: 5px;
}

.img-footer{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 5px;
    padding: 5px;
}

.descargar{
    width: 30px;
    height: 30px;
    position: relative;
    bottom: -5px;
}


@media screen and (min-width: 320px) and (max-width:475px){
    .titulo{
        margin-top: 10px;
     }
     .subtitulo{
         margin-top: 0px;
         color: #111111;
 
     }
     .navegador .contenedor .boton a{
         position: relative;
         left: 150px;
         font-weight: bolder;
         font-size: 80%;
         margin: 0 5px;
         bottom: -30px;
     }
     .navegador .contenedor .redes a img{
         width: 15px;
         height: 15px;
         top: -15px;  
         left: 10px;  
     }
     .logo{
         width: 50px;
         height: 50px;
         margin-left: 0px; 
     }
     
    
 
     footer{
         padding: 1px;
         display: block;
         bottom: -200px;
     }
   
      
    footer{
        bottom: -100px;

    }
    form #button{
        left: 100px;
    }
    
}
@media screen and (min-width: 768px) and (max-width:1024px){
    .titulo{
        margin-left: 15%;
    }
    .subtitulo{
        margin-left: 15%;
    }
    form #button{
        left: 300px;
    }
    footer{
        bottom: -60px;
    }
}

@media screen and (min-width: 1024px) and (max-width:1440px){
    footer{
        bottom: -100px;
    }
    form #button{
        left: 600px;
    }
    
}

@media screen and (min-width: 1440px) and (max-width:2560px){
    form #button{
        left: 650px;
    }
    footer{
        bottom: -600px;
    }
}

